# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. SQL.
4. C++.
5. Java.

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. SciPy
3. NumPy
4. PyTorch

| Data Science Tools|
|-------------------|
|MongoDB|
|Apache SparkSQL|
|TensorFlow|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

__Objectives:__
* Create ordered lists in jupiter about popular languages and libraries for Data Science
* Create tables in jupyter about Data Science Tools
* Create relevant headings in jupyter
* Create unordered lists in jupyter about the objectives of the class
* and many many other things about jupyter

## Author
Efstathios Sigourtzidis